class: Example\TestBuild

parameters:
  projectDirectory: %workingDirectory%/..
  publicDirectory: %workingDirectory%/../public
  assetsDirectory: %workingDirectory%/../assets

  phpExecutable: "php"
  gitExecutable: "git"
  phpUnit:
    executable: "%projectDirectory%/vendor/bin/phpunit"
    target: "%projectDirectory%/tests"

  test:
    programs:
      git: sudo apt-get install git
      php: sudo apt-get install php5
    php:
      settings:
        register_globals: FALSE
      extensions:
        - PDO
    nodeJs:
      version: v0.10.10

  directoriesToCreate:
    "%publicDirectory%": 0777
    "%publicDirectory%/data": 0777
    "%publicDirectory%/data/files": 0777
  symlinksRelativeToCreate:
    "data/files": "../../../assets"
  filesToCopy:
    "%publicDirectory%/image.jpeg": "%assetsDirectory%/image.jpeg"
    "%publicDirectory%/test.css": "%assetsDirectory%/test.css"


services:
  phpUnit:
    class: Genesis\Commands\PhpUnit
    setup:
      - setWorkingDir(%workingDirectory%)
      - setTarget(%phpUnit.target%)
      - setOptions(%phpUnit%)

  testPrograms:
    class: Genesis\Commands\Test\Programs
    setup:
      - setRequiredPrograms(%test.programs%)

  testPhp:
    class: Genesis\Commands\Test\Php
    setup:
      - setSettings(%test.php%)

  testNodeJs:
    class: Genesis\Commands\Test\NodeJs
    setup:
      - setRequiredVersion(%test.nodeJs.version%)

  filesystemInit:
    class: Genesis\Commands\Filesystem\Filesystem
    setup:
      - addDirectoriesToCreate(%directoriesToCreate%)
      - addSymlinksRelativeToCreate(%symlinksRelativeToCreate%, %publicDirectory%)
      - addFilesToCopy(%filesToCopy%, 'skip')

  nodeJsPackageInstaller:
    class: Genesis\Commands\NodeJs\PackageInstaller
    setup:
      - setDirectory(%assetsDirectory%)

  gulp:
    class: Genesis\Commands\Assets\Gulp
    setup:
      - setDirectory(%assetsDirectory%)